---
import DescContent1 from "./descContents/descContent1.astro"


---

<div id="descBox" class="descMain" style={Astro.props.style}>
    <!-- <p class="descText"></p> -->
   <div >
     <slot></slot>
   </div>
</div>

<style>
    .descText{
        opacity: 0;
        margin-left: 20px;
        margin-right: 20px;
        font-size: clamp(12px, 5vw, 24px);

    }
    
    .descMain{
        /* opacity: 0; */
        padding-left: 30px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        background-color: rgb(1, 2, 42);
        font-size: 30px;
        width: 900px;
        height: 600px;
        text-align: left;
        margin-left: 5vw;
         
        border-radius: 15px;
        /* transform: translate(-50%,-50%); */
        /* background: linear-gradient( #030734ac,#031122ac); */
        
        /* border: 2px solid;
        border-color: white; */
         box-shadow: 
            inset -10px -10px 20px #832a2a69, 
            inset 10px 1px 20px #caf6ff91,
            0 0 50px #fff,
            -5px 0 10px rgb(110, 70, 255),
            5px 0 10px rgb(132, 255, 255)
    }
</style>