<div id="descBox" class="descMain">
    <h1 class="descText"></h1>
</div>

<style>
    .descText{
        opacity: 1;
    }
    .descMain{
        opacity: 0;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: 30px;
        width: 40vw;
        margin-left: 5vw;
        height: 50vh;
        position: fixed;
        top: 50%;
        left: 50%;
        border-radius: 15px;
        transform: translate(-50%,-50%);
        background: linear-gradient(0deg,rgba(2, 0, 36, 1) 40%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
        border: 2px solid;
        border-color: aqua;
    }
</style>