---

export const descs = [
    "<br><h4> *--Project 1 </h4> <p> <h3> WORK IN PROGRESS <h3> <br> Ten projekt to strona napisana w astro i to moje portfolio<p>",
    '<h2>pawelweronika.fun </h2><p>Strona internetowa stworzona z okazji ślubu. Zawiera informacje o wydarzeniu, lokalizacjach, formularz potwierdzenia obecności oraz licznik odliczający czas do wielkiego dnia.</p><a href="http://pawelweronika.fun">Link do strony</a>',
    "WORK IN PROGRESS 3",
    "WORK IN PROGRESS 4",
];
---

