---
import DescContent from "./descContent.astro"

---
<div id="descBox" class="descMain">
    <p class="descText"></p>
</div>

<style>
    .descText{
        opacity: 1;
        margin-left: 20px;
        margin-right: 20px;
    }

    .descMain{
        opacity: 0;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: 30px;
        width: 50vw;
        text-align: left;
        margin-left: 5vw;
        height: 60vh;
        position: fixed;
        top: 50%;
        left: 50%;
        border-radius: 15px;
        transform: translate(-50%,-50%);
        background: linear-gradient( #030734ac,#031122ac);
        
        border: 2px solid;
        border-color: white;
        -webkit-box-shadow:0px 0px 96px 19px rgba(255,255,255,0.3);
        -moz-box-shadow: 0px 0px 96px 19px rgba(255,255,255,0.3);
        box-shadow: 0px 0px 96px 19px rgba(255,255,255,0.3);
    }
</style>