<div id="descBox" class="descMain">
    <h1 class="descText"></h1>
</div>

<style>
    .descMain{
        text-align: center;

        font-family: 'Courier New', Courier, monospace;
        color: white;
        border: 2px;
        border-color: red;
        font-size: 30px;
        width: 30vw;
        height: 30vw;
        position: fixed;
        top: 50%;
        margin-bottom: 100vh;
        left: 50%;
        transform: translate(-50%,-50%);
    }
</style>