---
import Backgrounds from "./Backgrounds.astro";
import TopBar from "./top_bar.astro";
import MainStyle from "../styles/main.astro";
import System from "./system.astro";
import Anim from "./animations/anim.astro";
import Menu from "./menu.astro";
import Desc from "./desc.astro";
import DescContent1 from "./descContents/descContent1.astro";
import DescContent2 from "./descContents/descContent2.astro";
import DescContent3 from "./descContents/descContent3.astro";
import DescContent4 from "./descContents/descContent4.astro";
import Footer from "./footer.astro";
import Terminal from "./terminal.astro";
import Analytics from "@vercel/analytics/astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kamil Hello</title>
	</head>

	<body>
		<Analytics />
		<Terminal />

		<div class="end">

		</div>
		<Anim />

		<MainStyle />

		<Backgrounds />
		<TopBar />

		<System />
		<Menu />
		
				<Desc style=" position: absolute; top: 140vh; left: 25%;">
					<div id="belt"></div>
					<DescContent4 />
				</Desc>
				<Desc style="position: absolute; top: 310vh; left: 25%;">
					<div id="belt"></div>
					<DescContent2 />
				</Desc>
				<Desc style="position: absolute; top: 485vh; left: 25%; ">
					<div id="belt"></div>
					<DescContent3 />
				</Desc>
		
		<Desc style="height:700px; position: absolute; top: 645vh; left: 25%;">
			<div id="belt"></div>
			<DescContent1 />
		</Desc>
		<Footer />
	</body>
</html>

<style>
	#content {
		height: 2000px;
	}

	body {
		font-family: "Roboto Mono", monospace;
		background-color: #000007;
		height: 500vh;
		margin: 0;
		scroll-behavior: smooth;
		overflow: scroll; /* scroll na body */
	}

	.end {
		position: absolute;
		top: 900vh;
		height: 10px;

		width: 100%;
	}
	#first {
		position: absolute;
		top: 130vh;
		left: 50%;
		width: 200px;
		height: 600px;
	}

	#second {
		position: absolute;
		top: 200vh;
		left: 30%;
		width: 250px;
		height: 250px;
		background: #222;
	}

	#third {
		position: absolute;
		top: 300vh;
		left: 70%;
		width: 180px;
		height: 320px;
		background: #333;
	}

	#fourth {
		position: absolute;
		top: 400vh;
		left: 40%;
		width: 220px;
		height: 280px;
		background: #444;
	}
	#belt {
		height: 100%;
		position: absolute;
		z-index: -1;
		width: 50%;
		left: 50%;
		transform: translate(-50%, 0%);
		background-color: aliceblue;
		box-shadow: 0px 0px 300px 100px rgb(0, 11, 81);
	}
</style>
