---
import Backgrounds from "./Backgrounds.astro"
import TopBar from "./top_bar.astro"
import  MainStyle from "../styles/main.astro"
import System from "./system.astro"
import Anim from "./animations/anim.astro"
import Menu from "./menu.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kamil</title>
	</head>

	<body>
		
		<div class="end"></div>

		<Anim></Anim>
		<Backgrounds></Backgrounds>
		<MainStyle></MainStyle>
		<TopBar></TopBar>
		<System class="trigger"></System>	
		<Menu class="trigger"></Menu>
	</body>
	<style>
		body{
			font-family: 'Roboto Mono', monospace;
			background-color: #0c0628;
			height: 300vh;
			margin: 0;
		}

		.end{	
			position: absolute;
			top: 300vh;
			height: 10px;
			background-color: blueviolet;
			width: 100%;
			

		}

	</style>
</html>
