---
import Backgrounds from "./Backgrounds.astro"
import TopBar from "./top_bar.astro"
import  MainStyle from "../styles/main.astro"
import System from "./system.astro"
import Anim from "./animations/anim.astro"
import Menu from "./menu.astro"
import Desc from "./desc.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kamil's portfolio WORK IN PROGRESS</title>
	</head>

	<body>

		<div class="end"></div>
		<Anim></Anim>
		<Backgrounds></Backgrounds>
		<MainStyle></MainStyle>
		<TopBar></TopBar>
		<System ></System>	
		<Menu></Menu>
		<Desc></Desc>
	</body>
	<style>
		body{
			font-family: 'Roboto Mono', monospace;
			background-color: #02011F;
			height: 300vh;
			margin: 0;
		}

		.end{	
			position: absolute;
			top: 300vh;
			height: 10px;
		
			width: 100%;
			

		}

	</style>
</html>
