---

---

<div class="tree" class="trigger">
    <p>Start</p>

    <p> About me</p>
    <div >
        <p>Projects</p>

        <div class="right">
            <p>pro1</p>
            <p>pro2</p>
        </div>
        
    </div>
    <p>Contact</p>
    
</div>


<style>
    .tree{
        opacity: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        right: -10%;
        color: red;
        transform: translateY(-50%);
    }
    .right{
        margin-left: 40px;
    }
</style>