---

---

<div class="tree">
    <p id="start">/Start</p>
   
    <div>
        <p style="margin-bottom: 10px;" id="proj">/Projects/</p>
        <div class="right">
            <p id="first">--HomeLab </p>
            <p id="second">--Wedding</p>
            <p id="third">--LinuxScripts</p>
            <p id="fourth">--Portfolio</p>
        </div>
         <p class="aboutBtn" id="about">/About me </p>
    <p id="cont">/Contact</p>
</div>


<style>
    .tree p{
      
        
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .tree{
        z-index: 99;
        font-weight: bold;
        color: rgb(7, 32, 255);
        font-size: 150%;
        right: 5%;
        text-align: right;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
       
        transform: translateY(-50%);
        margin: 0;
    }
    .right{
        
        font-weight: normal;
        color: rgb(255, 255, 255);
        margin-left: 40px;
        font-size: 80%;
    }
    .right p {
        font-weight: normal;
        margin: 0;
        margin-right: -30px;
        color: rgb(80, 162, 255);
    }
    
</style>

