---

---

<div class="tree">
    <p id="start">Start*</p>
    <p id="about">About me*</p>
    <div>
        <p id="proj">Projects*</p>
        <div class="right">
            <p id="first">pro1--</p>
            <p id="second">pro2--</p>
            <p id="third">pro3--</p>
            <p id="fourth">pro4--</p>
        </div>
    <p id="cont">Contact*</p>
</div>


<style>
    .tree{
        text-align: right;
        opacity: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        right: -10%;
        color: white;
        transform: translateY(-50%);
        margin: 0;
    }
    .right{
        margin-left: 40px;
    }
    
</style>

