<div class="bar">
    <h1>🔥Kamil🔥</h1>

</div>



<style>
  
    .bar{
        text-align: center;
        position: absolute;
        top: 0px;
        background: linear-gradient( #232a7d7c,#510505);
        width: 100%;
    }    
</style>