<div class="bar">
    <h1 class="left">🔥🔥 Kamil's portfolio🔥🔥</h1>
    <div class="right">
        <a href="https://github.com/adisonInc">
            <img src="/img/github-mark-white.svg" alt="github" >
        </a>
    </div>
</div>

<style>

    .right{
        position: absolute;
        right: 5%;
        height: 5vh;
        
    }
    img{
        position: absolute;
        height: 5vh;
        top: 50%;
    }
    .left{
        position: relative;
        left: 5%;
    }
    
    .bar{
        margin: 20px ;
        box-sizing: border-box;
        border-radius: 20px;
        position: absolute;
        top: 0px;
        background: linear-gradient( #030734ac,#031122ac);
        border-width: 1px;
        border-style: solid;
        border-color: aliceblue;
        width: calc(100% - 40px);
        color: white;
        display: flex;
    }    
</style>