<div class="bar">
    <h2 class="left">Kamil's portfolio</h2>
    <div class="right">
        <a href="https://github.com/adisonInc">
            <img src="/img/github-mark-white.svg" alt="github" />
        </a>
    </div>
</div>

<style>
    .right {
        margin-right: 2%;
    }
    img {
        height: 5vh;
    }
    .left {
        margin-left: 2%;
    }

    .bar {
        margin: 20px;
        box-sizing: border-box;
        border-radius: 20px;
        position: absolute;
        top: 0px;
        background: linear-gradient(#030734ac, #031122ac);
        border-width: 1px;
        border-style: solid;
        border-color: aliceblue;
        width: calc(100% - 40px);
        height: 10vh;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
